.page-resume {
    background: #efefef;
}

.resume-section {
    width: 600px;
    background: white;
    margin: auto;
    
    @media (max-width: 768px) {
        
    }
    @media (max-width: 540px) {
        
    }
}