$blue: #0062e7;
$light-blue: #1b7bff;
$red: #ff4434;
$light-red: #ff5b4e;

$sans: 'Hind', sans-serif;
$special: 'Press Start 2P', cursive;

$pixel: 4px;

$skull-orange: #ff7a00;
$skull-blue: #0085ff;
$skull-green: #00ff7a;
$skull-magenta: #ff0085;

$skull-white: #e3dac9;

$font-skull: 'Bowlby One SC', sans-serif;
