body {
  font-family: "Hind", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}
body * {
  box-sizing: border-box;
}

.top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100px;
}
.items .icon {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
}
.items .sword {
  background-image: url(/assets/images/sword.png);
}
.items .shield {
  background-image: url(/assets/images/shield.png);
}
.items .coffee {
  background-image: url(/assets/images/coffee.png);
}
.items .potion {
  background-image: url(/assets/images/potion.svg);
}

.hearts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100px;
}
.hearts .heart {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
}
.hearts .heart.full {
  background-image: url(/assets/images/heart.png);
}
.hearts .heart.empty {
  background-image: url(/assets/images/heart_empty.png);
}

.cloud {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/images/cloud.png);
  height: 70px;
  width: 70px;
  right: -70px;
  top: 100px;
  z-index: 0;
}
.cloud.double {
  width: 80px;
  height: 80px;
  background-image: url(/assets/images/clouds.png);
  right: -80px;
}
.cloud.running {
  transition: right 90s linear;
  right: calc(100% + 1px);
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: -1;
  background: #87ceeb;
}

.ground {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  border-top: 4px solid black;
  background: #56b000;
}

.title-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  border: 4px solid black;
  margin: auto;
  width: 500px;
  height: 200px;
  margin-top: 40px;
  background: #f2f2f2;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  width: 80%;
  text-align: left;
}
.title span {
  font-weight: 100;
  color: black;
  text-align: right;
  display: block;
  margin-top: 20px;
}

.title-back {
  position: absolute;
  z-index: -1;
  background: #f2f2f2;
  background: #ffd700;
}
.title-back.vert {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  width: 100%;
  height: calc(100% + 16px);
}
.title-back.hor {
  border-right: 4px solid black;
  border-left: 4px solid black;
  width: calc(100% + 16px);
  height: 100%;
}

a.button-wrap, a.button-wrap .button {
  text-decoration: none;
  color: black;
}

.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  margin: auto;
  margin-top: 20px;
  width: auto;
}
.buttons .button-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-decoration: none;
  color: black;
}
.buttons .button-wrap .icon {
  width: 30px;
  height: 30px;
  background-image: url(/assets/images/coffee.png);
  background-size: cover;
  background-position: center center;
  opacity: 0;
}
.buttons .button-wrap.active .icon {
  opacity: 1;
}
.buttons .button {
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

body.night .background {
  background: midnightblue;
}
body.night .ground {
  background: #004100;
}
body.night .cloud {
  opacity: .5;
}
body.night .title-back {
  background: palegoldenrod;
}

@media (prefers-color-scheme: dark) {
  body .background {
    background: midnightblue;
  }
  body .ground {
    background: #004100;
  }
  body .cloud {
    opacity: .5;
  }
  body .title-back {
    background: palegoldenrod;
  }
}

.dino {
  position: absolute;
  top: 500px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-image: url(/assets/images/dino.png);
  background-size: cover;
  background-position: center center;
}

@media (max-width: 768px) {
  .cloud {
    position: fixed;
  }

  .title-wrap {
    margin: auto;
    margin-top: 40px;
    opacity: .9;
  }
}
@media (max-width: 540px) {
  .title-wrap {
    width: calc(100% - 20px);
    height: auto;
  }

  .title {
    font-size: 30px;
    width: 90%;
    padding: 40px 0;
  }
}
body.page-about {
  background: black;
  color: goldenrod;
  perspective: 400px;
  position: relative;
}

.about-title {
  font-family: 'Audiowide', cursive;
  font-size: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: flyaway 10s;
}

.main-text-wrap {
  width: 70%;
  bottom: 0;
  left: 50%;
  height: 50vh;
  position: absolute;
  margin: auto;
  overflow: visible;
  transform: rotateX(45deg) translate(-50%, 50vh);
  transition: transform linear .2s;
}
.main-text-wrap .main-text-p {
  font-size: 25px;
}
.main-text-wrap h1 {
  text-align: center;
  font-size: 32px;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
}
.star.twinkle {
  animation: twinkle 2s infinite;
}

@keyframes flyaway {
  0% {
    font-size: 80px;
  }
  100% {
    font-size: 0px;
  }
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .35;
  }
  100% {
    opacity: 1;
  }
}
.night a.button-wrap .button,
.night a.button-wrap {
  color: #ddd;
}

@media (prefers-color-scheme: dark) {
  a.button-wrap .button,
  a.button-wrap {
    color: #ddd;
  }
}
.page-resume {
  background: #efefef;
}

.resume-section {
  width: 600px;
  background: white;
  margin: auto;
}

/*# sourceMappingURL=core.css.map */
